@import "../../all1map-themes";

.theme {
  & > * {
    margin: 24px;
  }

  .form_buttons{
    button{
      margin: 24px;
    }
  }

  .bx--select-input {
    -webkit-appearance: none;
  }

}

.dark-theme{
  @include carbon--theme($all1map--theme--dark, true);
  @include carbon--theme($all1map--theme--dark){
    background-color: $ui-background;
  }
}

.light-theme{
  @include carbon--theme($all1map--theme--light, true);
  @include carbon--theme($all1map--theme--light){
    background-color: $ui-background;
  }
}
