//Import carbon themes
@import "@carbon/themes/scss/themes";


$all1map-pink-100: #190011;
$all1map-pink-90: #41012c;
$all1map-pink-80: #5a013d;
$all1map-pink-70: #88025b;
$all1map-pink-60: #bf0380;
$all1map-pink-50: #fb18b0;
$all1map-pink-40: #fc4bc1;
$all1map-pink-30: #fd7cd2;
$all1map-pink-20: #feaae2;
$all1map-pink-10: #fecdee;
$all1map-pink-0: #ffebf8;
$all1map-yellow-100: #191500;
$all1map-yellow-90: #413701;
$all1map-yellow-80: #5a4c01;
$all1map-yellow-70: #887102;
$all1map-yellow-60: #bfa003;
$all1map-yellow-50: #fcd617;
$all1map-yellow-40: #fcde4b;
$all1map-yellow-30: #fde87c;
$all1map-yellow-20: #fef0aa;
$all1map-yellow-10: #fef6cd;
$all1map-yellow-0: #fffbeb;
$all1map-green-100: #001909;
$all1map-green-90: #014116;
$all1map-green-80: #015a1f;
$all1map-green-70: #02882f;
$all1map-green-60: #03bf42;
$all1map-green-50: #18fb64;
$all1map-green-40: #4bfc86;
$all1map-green-30: #7cfda7;
$all1map-green-20: #aafec6;
$all1map-green-10: #cdfedd;
$all1map-green-0: #ebfff2;
$all1map-cyan-100: #001919;
$all1map-cyan-90: #014140;
$all1map-cyan-80: #015a59;
$all1map-cyan-70: #028885;
$all1map-cyan-60: #03bfbc;
$all1map-cyan-50: #2cfcf8;
$all1map-cyan-40: #4afcf9;
$all1map-cyan-30: #7cfdfb;
$all1map-cyan-20: #aafefc;
$all1map-cyan-10: #cdfefd;
$all1map-cyan-0: #ebfffe;
$all1map-purple-100: #0e001a;
$all1map-purple-90: #230141;
$all1map-purple-80: #31015a;
$all1map-purple-70: #6703bf;
$all1map-purple-60: #490288;
$all1map-purple-50: #9118fb;
$all1map-purple-45: #7d04e7;
$all1map-purple-40: #a94afc;
$all1map-purple-30: #c17cfd;
$all1map-purple-20: #d6aafe;
$all1map-purple-10: #e7cdfe;
$all1map-purple-0: #f5ebff;
