@import "./theme";

main {
  padding: 0 !important;
  margin-top: $layout-04;
  overflow-x: hidden;//removes horizontal scroll on main content
}

//TOGGLE THEME
.dark-theme main{
  @include carbon--theme($theme--dark){
    background-color: $ui-background;
  }
  * {
  @include carbon--theme($theme--dark, true);
  }
}

.light-theme main{
  @include carbon--theme($theme--light){
    background-color: $ui-background;
  }
  * {
  @include carbon--theme($theme--light, true);
  }
}

//fix border focus on tiles from outline to border -> issue with background colors on inner divs
.bx--tile--clickable:focus{
  outline-offset: 0;
}

//re-colour the header
.bx--header{
  background-color: $key-color-80;
}
