@import "./all1map-themes";

main {
  padding: 0 !important;
  margin-top: $layout-04;
}

.dark-theme main{
  @include carbon--theme($all1map--theme--dark){
    background-color: $ui-background;
  }
  * {
  @include carbon--theme($all1map--theme--dark, true);
  }
}

.light-theme main{
  @include carbon--theme($all1map--theme--light){
    background-color: $ui-background;
  }
  * {
  @include carbon--theme($all1map--theme--light, true);
  }
}
