@import "../../all1map-themes";

.bx--side-nav__items .bx--header__menu-item {
  @include carbon--theme($all1map--theme--light){
    &.active{
      border: none;
      &::after{
        content: none !important;
      }
      &::before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 4px;
        background-color: $interactive-01;
      }
    }
    &:focus{
      outline-color: $interactive-01 !important;
    }
  }
}

.bx--header__menu-item.active{
  @include carbon--theme($all1map--theme--dark){
    &::after {
      border-bottom-color: $interactive-04 !important;
    }
  }
}
